.banner-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container2 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* dark overlay for readability */
  padding: 20px;
  border-radius: 10px;
}

.overlay h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

.overlay p {
  font-size: 18px;
  margin-bottom: 30px;
}

.overlay button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.overlay button:hover {
  background-color: #e64a19;
}

@media (max-width: 600px) {
  .banner-container {
    height: 50vh;
  }

    .overlay h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .overlay p {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .banner-container2 {
    height: 23.5vh;
    background-size: contain;  /* make image fit */
    background-position: center;
    background-repeat: no-repeat;
  }
   
}
