@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
font-family: "Sansation", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff8c42;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
}

 .services, .contact {
  padding: 2rem;
  text-align: center;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}